@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2|Bellota+Text|Muli|Noto+Sans+JP|Open+Sans|Roboto+Mono|Source+Sans+Pro&display=swap');
* {
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
.outer-cover {/*Header*/
    position: fixed;
    width: 100%;
    z-index: 99;
    max-height: 100px;
}
.main-header {
    max-height: 100px;
}
.main-nav a {
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #b7b9b7;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    padding: .5em 1.5em;
    max-width: 100%;
}
.main-nav ul {
    margin: 0;
    padding: 0;
}
.menu-container {
    width: 960px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}
.main-header .menu-container {
    display: flex;
    justify-content: space-around;
}
.main-nav ul {
    margin: 1em 0 .5em;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.main-nav li {
    display: inline;
}      /*************/
.flat::before{                      /*Flat Icon Editing*/
    transition: 0.3s linear all;
    font-size: 36px !important;
    margin-left: 0px !important;
    line-height: 40px !important;
}
.main-nav a:hover .flat:before{ /*To change Flaticons on Hovering*/
    background: -webkit-linear-gradient(#489c4bb8, #929e92, #31ad3e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}                                   /*************/

.main-nav a:hover{                   /*To change text on Hovering*/
    color: #5da77a  !important;
}                                   /*************/
h1.logo-2020 {
    height: 100px;
    width: 100px;
    position: relative;
    margin: 0 190px 0px -10px;
    bottom: 30px;
}
.logo-2020 img {
    max-width: 270px;
}
.scrollBackground{
    background: #2e2d29e0;
}
/* ********* */
@media (min-width:960px) {
    .main-header .container {
        justify-content: space-between;
    }
}
@media(max-width:1024px){
    .outer-cover {
        display: none;
    }
    
    .navMob{
        display: block;
    }
    .slides img{
        height: 100%;
        position: relative;
        left: -70%;
    }
    .stars{
        font-size: 3em;
    }
    .textIn {
        font-size: 1.4em;
        font-family: 'Poppins', sans-serif;
    }
}
@media(min-width:1025px){
    .outer-cover {
        display: block;
    }
    .navMob{
        display: none;
    }
    /* .slides img{
        width: 100%;
    } */
    
    .stars{
        font-size: 6em;
    }
    .textIn {
        font-size: 3.9em;
        font-family: 'Poppins', sans-serif;
    }
}
/* Mobile */
.navMob,.mobNavContainer{
    height: 50px;
    width: 100vw;
    max-height: 100%;
    position: fixed;
    z-index: 1;
}
.mobNavContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navButt{
    font-size: 2em;
    text-indent: -23px;
    z-index: 3;
    color: antiquewhite;
}
.mobNavList{
    height: 50vh;
    position: absolute;
    width: 100%;
    background-color: #000000a8;
    top: 0;
    z-index: 0;
    display: none;
}
.mobNavList li{
    list-style-type: none;
    display: block;
    width: 100px;
    max-width: 100px;
    font-size: 1.2em;
    border-bottom: 2px solid white;
    text-align: center;
    font-family: 'Muli', sans-serif;
    margin-right: 50px;
    margin-top: 10px;
}
.mobNavList a{
    text-decoration: none;
    color: white;
}
.navListContainer{
    margin-top: 40px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}
.mobNavLogo{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin: 40px 0px 0 10px;
    z-index: 2;
}
.mobNavLogo img{
    max-width: 150px;
    object-fit: cover;
}
